In [33]:
%run NaiveBayes.ipynb

In [40]:
def value_counts(df):
    for col in df:
        print(df[col].value_counts(dropna=False))
        print("----------------------------------------")

## EDA for data

In [41]:
len(data_files)

9

### ------------------------------------------------------------

In [42]:
i = 0
data_file = data_files[i]
df = preprocess(data_file)
X, y = preprocess(data_file, split=True)

In [43]:
value_counts(df)

-     772
TN     67
ZS     59
Name: family, dtype: int64
----------------------------------------
C    898
Name: product-type, dtype: int64
----------------------------------------
A    440
R    256
-     86
K     51
M     20
W     19
V     16
S     10
Name: steel, dtype: int64
----------------------------------------
0     821
55     19
45     17
65     15
6      11
70      5
4       4
8       3
10      2
3       1
Name: carbon, dtype: int64
----------------------------------------
0     721
45     58
85     35
50     34
60     26
70     19
80      5
Name: hardness, dtype: int64
----------------------------------------
-    761
T    137
Name: temper_rolling, dtype: int64
----------------------------------------
S    555
-    303
A     40
Name: condition, dtype: int64
----------------------------------------
2    378
-    318
3    143
1     48
5     11
Name: formability, dtype: int64
----------------------------------------
0      834
310     19
500     18
600     11
350      9
400      4
300      2
700      1
Name: strength, dtype: int64
----------------------------------------
-    793
N    105
Name: non-ageing, dtype: int64
----------------------------------------
-    889
P      9
Name: surface-finish, dtype: int64
----------------------------------------
E    310
-    244
G    229
F     60
D     55
Name: surface-quality, dtype: int64
----------------------------------------
-    882
2     10
1      6
Name: enamelability, dtype: int64
----------------------------------------
-    897
Y      1
Name: bc, dtype: int64
----------------------------------------
-    769
Y    129
Name: bf, dtype: int64
----------------------------------------
-    824
Y     74
Name: bt, dtype: int64
----------------------------------------
-    687
B    159
M     52
Name: bw-me, dtype: int64
----------------------------------------
-    749
Y    149
Name: bl, dtype: int64
----------------------------------------
-    898
Name: m, dtype: int64
----------------------------------------
-    872
C     26
Name: chrom, dtype: int64
----------------------------------------
-    891
P      7
Name: phos, dtype: int64
----------------------------------------
-    824
Y     74
Name: cbond, dtype: int64
----------------------------------------
-    898
Name: marvi, dtype: int64
----------------------------------------
-    896
Y      2
Name: exptl, dtype: int64
----------------------------------------
-    868
Y     30
Name: ferro, dtype: int64
----------------------------------------
-    898
Name: corr, dtype: int64
----------------------------------------
-    892
B      4
C      1
V      1
Name: bbvc, dtype: int64
----------------------------------------
-    847
Y     51
Name: lustre, dtype: int64
----------------------------------------
-    898
Name: jurofm, dtype: int64
----------------------------------------
-    898
Name: s, dtype: int64
----------------------------------------
-    898
Name: p, dtype: int64
----------------------------------------
SHEET    486
COIL     412
Name: shape, dtype: int64
----------------------------------------
-    834
Y     42
N     22
Name: oil, dtype: int64
----------------------------------------
0      854
600     33
500     11
Name: bore, dtype: int64
----------------------------------------
-    889
3      8
2      1
Name: packing, dtype: int64
----------------------------------------
3    684
2     99
5     67
U     40
1      8
Name: class\n, dtype: int64
----------------------------------------

### ------------------------------------------------------------

In [44]:
i = 1
data_file = data_files[i]
df = preprocess(data_file)
X, y = preprocess(data_file, split=True)

In [45]:
value_counts(df)

50-59    96
40-49    90
60-69    57
30-39    36
70-79     6
20-29     1
Name: age, dtype: int64
----------------------------------------
premeno    150
ge40       129
lt40         7
Name: menopause, dtype: int64
----------------------------------------
30-34    60
25-29    54
20-24    50
15-19    30
10-14    28
40-44    22
35-39    19
0-4       8
50-54     8
5-9       4
45-49     3
Name: tumor-size, dtype: int64
----------------------------------------
0-2      213
3-5       36
6-8       17
9-11      10
15-17      6
12-14      3
24-26      1
Name: inv-nodes, dtype: int64
----------------------------------------
no     222
yes     56
NaN      8
Name: node-caps, dtype: int64
----------------------------------------
2    130
3     85
1     71
Name: deg-malig, dtype: int64
----------------------------------------
left     152
right    134
Name: breast, dtype: int64
----------------------------------------
left_low     110
left_up       97
right_up      33
right_low     24
central       21
NaN            1
Name: breast-quad, dtype: int64
----------------------------------------
no     218
yes     68
Name: irradiat, dtype: int64
----------------------------------------
no-recurrence-events    201
recurrence-events        85
Name: class\n, dtype: int64
----------------------------------------

### ------------------------------------------------------------

In [51]:
i = 2
data_file = data_files[i]
df = preprocess(data_file)
X, y = preprocess(data_file, split=True)

In [52]:
value_counts(df)

low      432
vhigh    432
med      432
high     432
Name: buying, dtype: int64
----------------------------------------
low      432
vhigh    432
med      432
high     432
Name: maint, dtype: int64
----------------------------------------
4        432
2        432
3        432
5more    432
Name: doors, dtype: int64
----------------------------------------
more    576
4       576
2       576
Name: persons, dtype: int64
----------------------------------------
med      576
small    576
big      576
Name: lug_boot, dtype: int64
----------------------------------------
low     576
med     576
high    576
Name: safety, dtype: int64
----------------------------------------
unacc    1210
acc       384
good       69
vgood      65
Name: class\n, dtype: int64
----------------------------------------

### ------------------------------------------------------------

In [53]:
i = 3
data_file = data_files[i]
df = preprocess(data_file)
X, y = preprocess(data_file, split=True)

In [54]:
value_counts(df)

4    577
3    410
2    334
1    152
Name: w-education, dtype: int64
----------------------------------------
4    899
3    352
2    178
1     44
Name: h-education, dtype: int64
----------------------------------------
more    368
1       276
2       276
3       259
4       197
0        97
Name: n-child, dtype: int64
----------------------------------------
Islam        1253
Non-Islam     220
Name: w-relation, dtype: int64
----------------------------------------
No     1104
Yes     369
Name: w-work, dtype: int64
----------------------------------------
3    585
1    436
2    425
4     27
Name: h-occupation, dtype: int64
----------------------------------------
4    684
3    431
2    229
1    129
Name: standard-of-living, dtype: int64
----------------------------------------
Good        1364
Not-good     109
Name: media-exposure, dtype: int64
----------------------------------------
No-use        629
Short-term    511
Long-term     333
Name: class\n, dtype: int64
----------------------------------------

### ------------------------------------------------------------

In [55]:
i = 4
data_file = data_files[i]
df = preprocess(data_file)
X, y = preprocess(data_file, split=True)

In [56]:
value_counts(df)

male      139
female     16
Name: sex, dtype: int64
----------------------------------------
yes    78
no     76
NaN     1
Name: steroid, dtype: int64
----------------------------------------
yes    131
no      24
Name: antivirals, dtype: int64
----------------------------------------
no     100
yes     54
NaN      1
Name: fatigue, dtype: int64
----------------------------------------
yes    93
no     61
NaN     1
Name: malaise, dtype: int64
----------------------------------------
yes    122
no      32
NaN      1
Name: anorexia, dtype: int64
----------------------------------------
yes    120
no      25
NaN     10
Name: liver-big, dtype: int64
----------------------------------------
yes    84
no     60
NaN    11
Name: liver-firm, dtype: int64
----------------------------------------
yes    120
no      30
NaN      5
Name: spleen-palpable, dtype: int64
----------------------------------------
yes    99
no     51
NaN     5
Name: spiders, dtype: int64
----------------------------------------
yes    130
no      20
NaN      5
Name: ascites, dtype: int64
----------------------------------------
yes    132
no      18
NaN      5
Name: varices, dtype: int64
----------------------------------------
no     85
yes    70
Name: histology, dtype: int64
----------------------------------------
LIVE    123
DIE      32
Name: class\n, dtype: int64
----------------------------------------

### ------------------------------------------------------------

In [59]:
i = 5
data_file = data_files[i]
df = preprocess(data_file)
X, y = preprocess(data_file, split=True)

In [60]:
value_counts(df)

F      2182
M       908
NaN      73
Name: sex, dtype: int64
----------------------------------------
f    2702
t     461
Name: on-thyroxine, dtype: int64
----------------------------------------
f    3108
t      55
Name: query-on-thyroxine, dtype: int64
----------------------------------------
f    3121
t      42
Name: on_antithyroid, dtype: int64
----------------------------------------
f    3059
t     104
Name: surgery, dtype: int64
----------------------------------------
f    2922
t     241
Name: query-hypothyroid, dtype: int64
----------------------------------------
f    2920
t     243
Name: query-hyperthyroid, dtype: int64
----------------------------------------
f    3100
t      63
Name: pregnant, dtype: int64
----------------------------------------
f    3064
t      99
Name: sick, dtype: int64
----------------------------------------
f    3123
t      40
Name: tumor, dtype: int64
----------------------------------------
f    3161
t       2
Name: lithium, dtype: int64
----------------------------------------
f    3064
t      99
Name: goitre, dtype: int64
----------------------------------------
y    2695
n     468
Name: TSH, dtype: int64
----------------------------------------
y    2468
n     695
Name: T3, dtype: int64
----------------------------------------
y    2914
n     249
Name: TT4, dtype: int64
----------------------------------------
y    2915
n     248
Name: T4U, dtype: int64
----------------------------------------
y    2916
n     247
Name: FTI, dtype: int64
----------------------------------------
n    2903
y     260
Name: TBG, dtype: int64
----------------------------------------
negative       3012
hypothyroid     151
Name: class\n, dtype: int64
----------------------------------------

### ------------------------------------------------------------

In [61]:
i = 6
data_file = data_files[i]
df = preprocess(data_file)
X, y = preprocess(data_file, split=True)

In [62]:
value_counts(df)

x    3656
f    3152
k     828
b     452
s      32
c       4
Name: cap-shape, dtype: int64
----------------------------------------
y    3244
s    2556
f    2320
g       4
Name: cap-surface, dtype: int64
----------------------------------------
n    2284
g    1840
e    1500
y    1072
w    1040
b     168
p     144
c      44
u      16
r      16
Name: cap-color, dtype: int64
----------------------------------------
f    4748
t    3376
Name: bruises, dtype: int64
----------------------------------------
n    3528
f    2160
y     576
s     576
a     400
l     400
p     256
c     192
m      36
Name: odor, dtype: int64
----------------------------------------
f    7914
a     210
Name: gill-attachment, dtype: int64
----------------------------------------
c    6812
w    1312
Name: gill-spacing, dtype: int64
----------------------------------------
b    5612
n    2512
Name: gill-size, dtype: int64
----------------------------------------
b    1728
p    1492
w    1202
n    1048
g     752
h     732
u     492
k     408
e      96
y      86
o      64
r      24
Name: gill-color, dtype: int64
----------------------------------------
t    4608
e    3516
Name: stalk-shape, dtype: int64
----------------------------------------
b      3776
NaN    2480
e      1120
c       556
r       192
Name: stalk-root, dtype: int64
----------------------------------------
s    5176
k    2372
f     552
y      24
Name: stalk-surface-above-ring, dtype: int64
----------------------------------------
s    4936
k    2304
f     600
y     284
Name: stalk-surface-below-ring, dtype: int64
----------------------------------------
w    4464
p    1872
g     576
n     448
b     432
o     192
e      96
c      36
y       8
Name: stalk-color-above-ring, dtype: int64
----------------------------------------
w    4384
p    1872
g     576
n     512
b     432
o     192
e      96
c      36
y      24
Name: stalk-color-below-ring, dtype: int64
----------------------------------------
p    8124
Name: veil-type, dtype: int64
----------------------------------------
w    7924
o      96
n      96
y       8
Name: veil-color, dtype: int64
----------------------------------------
o    7488
t     600
n      36
Name: ring-number, dtype: int64
----------------------------------------
p    3968
e    2776
l    1296
f      48
n      36
Name: ring-type, dtype: int64
----------------------------------------
w    2388
n    1968
k    1872
h    1632
r      72
b      48
y      48
o      48
u      48
Name: spore-print-color, dtype: int64
----------------------------------------
v    4040
y    1712
s    1248
n     400
a     384
c     340
Name: population, dtype: int64
----------------------------------------
d    3148
g    2148
p    1144
l     832
u     368
m     292
w     192
Name: habitat, dtype: int64
----------------------------------------
e    4208
p    3916
Name: class\n, dtype: int64
----------------------------------------

### ------------------------------------------------------------

In [63]:
i = 7
data_file = data_files[i]
df = preprocess(data_file)
X, y = preprocess(data_file, split=True)

In [64]:
value_counts(df)

usual          4320
great_pret     4320
pretentious    4320
Name: parents, dtype: int64
----------------------------------------
very_crit      2592
improper       2592
proper         2592
critical       2592
less_proper    2592
Name: has_nurs, dtype: int64
----------------------------------------
foster        3240
complete      3240
completed     3240
incomplete    3240
Name: form, dtype: int64
----------------------------------------
more    3240
2       3240
1       3240
3       3240
Name: children, dtype: int64
----------------------------------------
less_conv     4320
critical      4320
convenient    4320
Name: housing, dtype: int64
----------------------------------------
inconv        6480
convenient    6480
Name: finance, dtype: int64
----------------------------------------
nonprob          4320
problematic      4320
slightly_prob    4320
Name: social, dtype: int64
----------------------------------------
recommended    4320
not_recom      4320
priority       4320
Name: health, dtype: int64
----------------------------------------
not_recom     4320
priority      4266
spec_prior    4044
very_recom     328
recommend        2
Name: class\n, dtype: int64
----------------------------------------

### ------------------------------------------------------------

In [65]:
i = 8
data_file = data_files[i]
df = preprocess(data_file)
X, y = preprocess(data_file, split=True)

In [66]:
value_counts(df)

2    209
3    107
1     23
Name: age, dtype: int64
----------------------------------------
 2.0    177
 1.0    161
NaN       1
Name: sex, dtype: int64
----------------------------------------
 2.0    220
NaN      67
 1.0     44
 3.0      8
Name: histologic-type, dtype: int64
----------------------------------------
NaN     155
 3.0    100
 1.0     57
 2.0     27
Name: degree-of-diffe, dtype: int64
----------------------------------------
2    245
1     94
Name: bone, dtype: int64
----------------------------------------
2    332
1      7
Name: bone-marrow, dtype: int64
----------------------------------------
2    264
1     75
Name: lung, dtype: int64
----------------------------------------
2    264
1     75
Name: pleura, dtype: int64
----------------------------------------
2    244
1     95
Name: peritoneum, dtype: int64
----------------------------------------
2    230
1    109
Name: liver, dtype: int64
----------------------------------------
2    318
1     21
Name: brain, dtype: int64
----------------------------------------
 2.0    318
 1.0     20
NaN       1
Name: skin, dtype: int64
----------------------------------------
2    295
1     44
Name: neck, dtype: int64
----------------------------------------
2    278
1     61
Name: supraclavicular, dtype: int64
----------------------------------------
 2.0    305
 1.0     33
NaN       1
Name: axillar, dtype: int64
----------------------------------------
2    247
1     92
Name: mediastinum, dtype: int64
----------------------------------------
2    224
1    115
Name: abdominal, dtype: int64
----------------------------------------
A    84
E    39
R    29
K    28
N    24
V    24
B    20
L    16
G    14
D    14
Q    10
C     9
M     7
S     6
H     6
J     2
O     2
T     2
P     1
F     1
U     1
Name: class\n, dtype: int64
----------------------------------------